
<form method=post action="/">

{{form.hidden_tag()}}

<h3>Please choose at least one of the criteria below:</h3>
<div>(Links to papers and web sites for the <a href="https://github.com/mariananeves/annotation-tools">annotation tools</a>.)</div>

<hr>

<fieldset>
<legend>General criteria</legend>
<div>
{{ form.type_install.label }} {{ form.type_install }}
{{ form.available }} {{ form.available.label }} 
{{ form.installable }} {{ form.installable.label }} 
{{ form.workable }} {{ form.workable.label }} 
{{ form.schematic }} {{ form.schematic.label }}
</div>
</fieldset>

<br>

<fieldset>
<legend>Publication criteria</legend>
<div>
{{ form.last_publication.label }} {{ form.last_publication(size=4) }} 
{{ form.citations.label }}  {{ form.citations(size=4) }} 
{{ form.citations_corpora.label }} {{ form.citations_corpora(size=4) }}
</div>
</fieldset>

<br>

<fieldset>
<legend>Technical criteria</legend>
<div>
{{ form.last_version.label }} {{ form.last_version(size=4) }} 
{{ form.installation.label }} {{ form.installation }} 
{{ form.documentation.label }} {{ form.documentation }} 
{{ form.free.label }} {{ form.free }}
{{ form.license.label }} {{ form.license }}
{{ form.source_code }} {{ form.source_code.label }}  
{{ form.online_available }} {{ form.online_available.label }}
</div>
</fieldset>

<br>

<fieldset>
<legend>Data format criteria</legend>
<div>
{{ form.format_schema.label }} {{ form.format_schema }} 
{{ form.format_documents.label }} {{ form.format_documents }} 
{{ form.format_annotations.label }} {{ form.format_annotations }} 
</div>
</fieldset>

<br>

<fieldset>
<legend>Functional criteria</legend>
<div>
{{ form.relationships.label }} {{ form.relationships }} 
{{ form.document_level.label }} {{ form.document_level }} 
{{ form.preannotations.label }} {{ form.preannotations }} 
{{ form.multi_label }} {{ form.multi_label.label }} 
{{ form.ontologies }} {{ form.ontologies.label }} 
{{ form.data_privacy }} {{ form.data_privacy.label }}
{{ form.highlight }} {{ form.highlight.label }} 
<br>
{{ form.medline_pmc.label }} {{ form.medline_pmc }} 
{{ form.full_texts.label }} {{ form.full_texts }} 
{{ form.partial_save.label }} {{ form.partial_save }} 
{{ form.users_teams.label }} {{ form.users_teams }} 
{{ form.iaa.label }} {{ form.iaa }} 
{{ form.multilingual.label }} {{ form.multilingual }} 
</div>
</fieldset>

<br>

{{ form.submit }} <a href="{{ url_for('index') }}">Clear form</a>

</form>
