<!doctype html>
<html ng-app="WordcountApp">
<head>
  <title>Annotationsaurus</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link rel="stylesheet" href="https://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
<body layout="column" ng-controller="WordcountController" ng-init="getResults()">

{% include 'header.html' %}

{% include 'table.html' %}

{% include 'footer.html' %}

</body>

{% include 'sideNav.html' %}

{% include 'includes.html' %}

</html>
