
<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right" ng-cloak ng-init="getCriteria()">
  <md-switch ng-model="switchData" aria-label="Switch 2" ng-true-value="'AND'" ng-false-value="'OR'" class="md-warn">
    [[ switchData ]]
  </md-switch>
  <div ng-repeat="(key, value) in returnCriteria">
    <md-toolbar class="md-warn" ng-model="toggleCriteria[key]" ng-click="toggleCriteria[key]=!toggleCriteria[key]">[[ key ]]</md-toolbar>
    <md-content ng-repeat="(key1, value1) in value" layout="column" ng-show="toggleCriteria[key]">
      <md-input-container>
        <span>[[ key1 ]]</span>
        <md-select ng-model="filterData[key1]" placeholder="Select [[ key1 ]]">
          <md-option ng-value="false">Ignore criteria</md-option>
          <md-option ng-value="opt" ng-repeat="opt in value1">[[ opt ]]</md-option>
        </md-select>
      </md-input-container>
    </md-content>
  </div>
  <md-button ng-click="close()" class="md-primary">
    Close Sidenav Right
  </md-button>
</md-sidenav>
