<md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && filteredItems.length">
  <div class="md-toolbar-tools">
    <span>[[ filteredItems.length ]]
      [[ filteredItems.length > 1 ? 'items' : 'item' ]] selected</span>
  </div>
</md-toolbar>

<md-table-container>
  <table md-table ng-show="filteredItems.length" ng-model="filteredItems">
    <thead md-head>
    <tr md-row>
      <th md-column><span>Tool ([[ filteredItems.length ]])</span></th>
      <th md-column><span>Latest publication year</span></th>
      <th md-column><span>Paper</span></th>
      <th md-column><span>Tool URL</span></th>
      <th md-column><span>Matching criteria</span></th>
    </tr>
    </thead>
    <tbody md-body>
    <tr md-row ng-repeat="tool in filteredItems | orderBy: query.order : reverse | limitTo: query.limit : (query.page -1) * query.limit">
      <td md-cell>[[ tool.name ]]</td>
      <td md-cell>[[ tool.last_publication != '0' ? tool.last_publication : '-' ]]</td>
      <td md-cell><a ng-show="tool.paper" target="_blank" ng-href="[[ tool.paper ]]">[[ tool.paper ? 'Read paper': "Not available" ]]</a></td>
      <td md-cell><a ng-show="tool.url" target="_blank" ng-href="[[ tool.url ]]">[[ tool.url ? 'Open tool URL': "Not available" ]]</a></td>
      <td md-cell>[[ tool.matchingCount ]] [[ tool.matched | join:', ' ]]</td>
    </tr>
    </tbody>
  </table>
</md-table-container>

<md-table-pagination md-limit="query.limit"
                     md-limit-options="limitOptions"
                     md-page="query.page"
                     md-total=" [[ filteredItems.length ]]"
                     md-page-select="options.pageSelect"
                     md-boundary-links="options.boundaryLinks"
                     md-on-paginate="logPagination">
</md-table-pagination>